{# This base is used for HTMX updates, it only yields the blocks without
surrounding layout #} {% block content %}{% endblock %} {# We also want to
update the inspector if provided #}
<!-- oob swap for inspector if present -->
{% if self.inspector() %}
<div id="inspector-content" hx-swap-oob="innerHTML">
  {% block inspector %}{% endblock %}
</div>
{% endif %}

<!-- oob swap for status line -->
<div hx-swap-oob="innerHTML:#status-line-container">
  {% include "partials/status_content.html" %}
</div>
